body{
  background-image: url("/images/dice.jpg");
  position: cover;
  background-position: fixed;
  
}
h1
{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative; 
}
button{
  position: relative;
  left: 670px;
  top: 150px;
}
.diceOne{
  height: 300px;
  width: 300px;
  background-color: rgb(46, 42, 49);
  border-radius: 8px;
  position: relative;
  left: 380px;
  top: 300px;
}
.diceTwo{
  height: 300px;
  width: 300px;
  background-color: rgb(46, 42, 49);
  border-radius: 8px;
  position: relative;
  left: 800px;
}


